body{
    font-family:"Roboto", sans-serif;
    font-size: large;
    background-color: #f39530 ;
    color: #151718;
}


.about{
width: 100%;
margin-top: 50px;
}

.about h1{
text-align: center;
margin-bottom: 50px;
}

.about-container{
display: flex;

justify-content: center;
align-items: flex-start;

gap: 80px;

width: 90%;
max-width: 1200px;

margin: 0 auto;

}

.profile-container{
flex-shrink: 0;
}

.profile-container img{
width: 500px;
height: 450px;

object-fit: cover;

}

.about-text{
width: 700px;
}

.about-text p{
margin-bottom: 30px;
line-height: 1.8;
}

/* Career Goals */

.career-goals
{
text-align: center;

margin-top: 60px;

}

.career-goals p{
max-width: 900px;

margin: 0 auto;

}

/* Skills */

.skills{
text-align: center;

margin-top: 60px;

}

.skills ul{ 
display: inline-block;

text-align: left;

margin-top: 20px;

}

/* Footer */

footer{
    text-align:center;

    margin-top:80px;

    padding:30px;

    border-top:1px solid #ccc;
}

.footer-socials{
    margin:20px 0;
}

.footer-socials button{
    margin:5px;
    padding:10px 20px;
}