body{
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-optical-sizing: auto;
   
}

/*.contact-container{
    width: 900px;
    margin: 40px auto;
}
    */
    .contact-container{
        width: 90%;
        max-width: 900px;
        margin: 40px auto;
    }

.contact-container h1
{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.contact-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 100px;
}

.form-group
{
    display: flex;
    flex-direction: column;
}

.form-group label
{
    margin-bottom: 8px;
    font-size: 14px;
}

.form-group input
{
    width: 50%;
    height: 40px;
    border: none;
    background: #d9d9d9;
    padding-left: 10px;
    box-sizing: border-box;
}

.message-group
{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.message-group label
{
    margin-bottom: 8px;
    font-size: 14px;

}

.message-group textarea
{
    width: 100%;
    height: 220px;
    border: none;
    background: #d9d9d9;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

/* error messgae css */
.error
{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    min-height: 15px;
}

.valid
{
    border: 2px solid green !important;
}

.invalid
{
    border: 2px solid red !important;
}

/* error messgae css */

.submit-container
{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

    #submitBtn
{
    display: block;
    margin: 25px auto 0;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


#submitBtn:hover
{
    transform: scale(1.05);
}

/* Footer */

footer{
    text-align:center;

    margin-top:80px;

    padding:30px;

    border-top:1px solid #ccc;
}

.footer-socials{
    margin:20px 0;
}

.footer-socials button{
    margin:5px;
    padding:10px 20px;
}

@media (max-width: 768px)
{
    .contact-container
    {
        width: 95%;
        margin: 30px auto;
    }

    .contact-container h1
    {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .contact-grid
    {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .form-group input
    {
        width: 50%;
    }

    .message-group textarea
    {
        width: 100%;
        height: 180px;
    }

    #submitBtn
    {
        width: 100%;
        max-width: 250px;
    }

    footer
    {
        padding: 20px;
    }

    .footer-socials
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}