:root
{
    /* Light Mode */

    --background-color: #F39530;

    --heading-color: #151718;

    --text-color: #FBFFFF;

    --button-background: #2B2E30;

    --button-text: #FBFFFF;

    --profile-glow: #974900;
}

.dark-mode
{
    --background-color: #974900;

    --heading-color: #151718;

    --text-color: #FBFFFF;

    --button-background: #2B2E30;

    --button-text: #FBFFFF;

    --profile-glow: #F39530;
}

body
{
    background-color: var(--background-color);

    color: var(--text-color);

    transition: 0.3s ease;
}

h1,
h2,
h3
{
    color: var(--heading-color);
}

button
{
    background-color: var(--button-background);

    color: var(--button-text);

    border: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 60px;
/* background-color: azure; */
background-color: var(--button-background);
color: var(--button-text);
width: 100%;
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
}

.logo 
{
    height: 60px;
}

.nav-links
{
display: flex;
list-style: none;
gap: 40px;
}

.nav-links li
{
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.nav-links li
{
    display: flex;
    gap: 15px;
    user-select: none;
}
    
.nav-links li 
{
        position: relative;
        cursor: pointer;
        font-size: 18px;
        transition: color 0.3s ease;
        user-select: none;
 }
    
.nav-links li::after 
{
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 2px;
        background-color: #F39530;
        transition: width 0.3s ease;
        user-select: none;
 }
    
.nav-links li:hover::after 
{
        width: 100%;
}

.nav-links li.active 
{
    font-weight: bold;
}

.nav-links li.active::after 
{
    width: 100%;
}


.social-links img
{
    width: 30px;
    cursor: pointer;
}

.social-links img 
{
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-links img:hover 
{
    transform: translateY(-3px);
}



/* Theme toggle */
#themeToggleBtn
{
    background-color: #2B2E30;
    color: #FBFFFF;

    border: 2px solid #FBFFFF;
    border-radius: 8px;

    padding: 8px 16px;

    cursor: pointer;

    font-family: "Roboto", sans-serif;
    font-weight: bold;

    transition: all 0.3s ease;
}

#themeToggleBtn:hover
{
    transform: scale(1.05);
    background-color: #FBFFFF;
    color: #2B2E30;
}

#themeToggleBtn:active
{
    transform: scale(0.95);
}

#menuBtn
{
    display: none;
}


@media (max-width: 768px)
{
    .navbar
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 15px 5px;
    }

    .logo
    {
        height: 50px;
    }

    #menuBtn
    {
        display: block;

        background: none;
        border: none;

        color: var(--button-text);

        font-size: 28px;

        cursor: pointer;
    }

    .nav-links
    {
        display: none;
    }

    .nav-links.show
    {
        display: flex;

        flex-direction: column;

        position: absolute;

        top: 80px;
        right: 20px;

        background-color: var(--button-background);

        color: var(--button-text);

        padding: 20px;

        border-radius: 10px;

        gap: 15px;

        z-index: 1000;
    }

    /* Hide the | separators */

    .nav-links li:not([id])
    {
        display: none;
    }

    .social-links
    {
        display: flex;

        align-items: center;

        gap: 10px;
    }

    .social-links img
    {
         width: 30px;
         height: 30px;
    }

    #themeToggleBtn
    {
        font-size: 7px;
        height: 25;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
