
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 60px;
background-color: azure;
width: 100%;
}

.logo {
    height: 60px;
}

.nav-links{
display: flex;
list-style: none;
gap: 40px;
}

.nav-links li{
    cursor: pointer;
    font-size: 18px;
}

.nav-links li{
    display: flex;
    gap: 15px;
}

.social-links img{
    width: 30px;
    cursor: pointer;
}